<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Server=.\SQLEXPRESS2008;Database=AdventureWorks2008;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="Namespace" value="Verax.Data" />
    <add key="TableMetadataQuery" value="
SELECT TABLE_NAME &quot;TABLENAME&quot; FROM information_schema.tables WHERE TABLE_CATALOG = 'AdventureWorks2008';
         " />
    <add key="TableTemplate" value="
using System;
using System.Collections.Generic;
using System.Data;
using System.Data.SqlClient;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace [namespace]
{
	public class [className]
	{

		public string ConnectionString { get; set; }		

		protected const string SelectQuery = &quot;SELECT * FROM [tableName];&quot;;

		public [className] (string connectionString)
		{
    			ConnectionString = connectionString;
		}

		public DataTable Get[tableName]()
		{
			DataTable metadata = new DataTable();
			using (SqlDataAdapter adapter = new SqlDataAdapter(SelectQuery, ConnectionString))
			{
				adapter.MissingSchemaAction = MissingSchemaAction.Add;
				adapter.FillLoadOption = LoadOption.OverwriteChanges;
				adapter.Fill(metadata);
			}
			return metadata;
		}
	}
}" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>